<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320508359484-6ri4d29tammq182odt97ijtsgn4jfdt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320508359484-6ri4d29tammq182odt97ijtsgn4jfdt8</string>
	<key>API_KEY</key>
	<string>AIzaSyCtn8ghGOTPUleMKzRGAHN70Zk65spSHCM</string>
	<key>GCM_SENDER_ID</key>
	<string>320508359484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.9eighteen.NineEighteenReactUser</string>
	<key>PROJECT_ID</key>
	<string>eighteen-user</string>
	<key>STORAGE_BUCKET</key>
	<string>eighteen-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320508359484:ios:d2eff4d8d04141bf1ea439</string>
	<key>DATABASE_URL</key>
	<string>https://eighteen-user.firebaseio.com</string>
</dict>
</plist>